@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

